body {
   
  background: url(/assets/img/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #022760;
  
}
.coming-soon {
  max-width: 100vh;
  min-height: 100vh;
  color: white;
  
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  
}
.coming-soon h1 {
  font-weight: bolder;
}

p {
  font-style: italic;
}
.follow-us {
  color: white;
  font-style: italic;
}
.fa-rocket-launch {
  color: white;
}

.fa-twitter {
  color: #1DA1F2;
}
.fa-whatsapp {
  color: #25D366;
}
.fa-facebook-square {
  color: #185CEB;
}
.fa-instagram {
  color: #A96BA0 ;
}
.fa-snapchat-square {
  color: #FFFC00;
}